.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #d1e4e2b9;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto; 
  border-color: #6d94e2;
}
.input-container{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 70%;
  align-self: center;
  justify-content: center;
}
.label{
  font-size: 18px;
  margin-right: 10px;
  color: #333;
  background-color: #11e326;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 5px 10px;
  border-radius: 5px;
}
.input{
  padding: 8px;
  min-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.add-button{
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #9765d0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.char-count{
  margin-left: 8px;
  color: #666;
  font-size: 14px;
}
.todo-list{
  list-style: none;
  padding: 0; 
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.todo-item{
  background-color: #bfe8e2;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.delete-button{
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-color: #e74c3c;
  background-color:transparent;
}
.toggle-button{
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
}

.task-text.completed{
  text-decoration: line-through;
  color: #555;
  opacity: 0.8;
}

.todo-item.completed{
  background-color: #d6d6d6;
  opacity: 0.85;
}
.title{
  font-size: 32px;
  margin-bottom: 20px;
  color: #7fa104;
}
.author{
  font-size: 12px;
  color: #272222;
  margin-left: 10px;
  font-style: italic;
}